## Pandas
Pandas is a Python library that provides extensive means for data analysis.

It allows for data manipulation in Python.

Pandas is often used for data cleaning, exploration, and analysis.

In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\acer\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\acer\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\acer\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\acer\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\acer\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: six>=1.5 in c:\users\acer\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

## Reading a CSV File

In [3]:
df = pd.read_csv("annual.csv")

In [4]:
df

,year,industry_code_ANZSIC,industry_name_ANZSIC,rme_size_grp,variable,value,unit
0,2011,A,"Agriculture, Forestry and Fishing",a_0,Activity unit,46134,COUNT
1,2011,A,"Agriculture, Forestry and Fishing",a_0,Rolling mean employees,0,COUNT
2,2011,A,"Agriculture, Forestry and Fishing",a_0,Salaries and wages paid,279,DOLLARS(millions)
3,2011,A,"Agriculture, Forestry and Fishing",a_0,"Sales, government funding, grants and subsidies",8187,DOLLARS(millions)
4,2011,A,"Agriculture, Forestry and Fishing",a_0,Total income,8866,DOLLARS(millions)
...,...,...,...,...,...,...,...
17023,2021,all,All Industries,j_Grand_Total,Total income,757504,DOLLARS(millions)
17024,2021,all,All Industries,j_Grand_Total,Total expenditure,654404,DOLLARS(millions)
17025,2021,all,All Industries,j_Grand_Total,Operating profit before tax,85116,DOLLARS(millions)
17026,2021,all,All Industries,j_Grand_Total,Total assets,2512677,DOLLARS(millions)
17027,2021,all,All Industries,j_Grand_Total,Fixed tangible assets,591351,DOLLARS(millions)

In [5]:
df.head()

,year,industry_code_ANZSIC,industry_name_ANZSIC,rme_size_grp,variable,value,unit
0,2011,A,"Agriculture, Forestry and Fishing",a_0,Activity unit,46134,COUNT
1,2011,A,"Agriculture, Forestry and Fishing",a_0,Rolling mean employees,0,COUNT
2,2011,A,"Agriculture, Forestry and Fishing",a_0,Salaries and wages paid,279,DOLLARS(millions)
3,2011,A,"Agriculture, Forestry and Fishing",a_0,"Sales, government funding, grants and subsidies",8187,DOLLARS(millions)
4,2011,A,"Agriculture, Forestry and Fishing",a_0,Total income,8866,DOLLARS(millions)

In [6]:
df.head(10)

,year,industry_code_ANZSIC,industry_name_ANZSIC,rme_size_grp,variable,value,unit
0,2011,A,"Agriculture, Forestry and Fishing",a_0,Activity unit,46134,COUNT
1,2011,A,"Agriculture, Forestry and Fishing",a_0,Rolling mean employees,0,COUNT
2,2011,A,"Agriculture, Forestry and Fishing",a_0,Salaries and wages paid,279,DOLLARS(millions)
3,2011,A,"Agriculture, Forestry and Fishing",a_0,"Sales, government funding, grants and subsidies",8187,DOLLARS(millions)
4,2011,A,"Agriculture, Forestry and Fishing",a_0,Total income,8866,DOLLARS(millions)
5,2011,A,"Agriculture, Forestry and Fishing",a_0,Total expenditure,7618,DOLLARS(millions)
6,2011,A,"Agriculture, Forestry and Fishing",a_0,Operating profit before tax,770,DOLLARS(millions)
7,2011,A,"Agriculture, Forestry and Fishing",a_0,Total assets,55700,DOLLARS(millions)
8,2011,A,"Agriculture, Forestry and Fishing",a_0,Fixed tangible assets,32155,DOLLARS(millions)
9,2011,A,"Agriculture, Forestry and Fishing",b_1-5,Activity unit,21777,COUNT

In [7]:
df.head(20)

,year,industry_code_ANZSIC,industry_name_ANZSIC,rme_size_grp,variable,value,unit
0,2011,A,"Agriculture, Forestry and Fishing",a_0,Activity unit,46134,COUNT
1,2011,A,"Agriculture, Forestry and Fishing",a_0,Rolling mean employees,0,COUNT
2,2011,A,"Agriculture, Forestry and Fishing",a_0,Salaries and wages paid,279,DOLLARS(millions)
3,2011,A,"Agriculture, Forestry and Fishing",a_0,"Sales, government funding, grants and subsidies",8187,DOLLARS(millions)
4,2011,A,"Agriculture, Forestry and Fishing",a_0,Total income,8866,DOLLARS(millions)
5,2011,A,"Agriculture, Forestry and Fishing",a_0,Total expenditure,7618,DOLLARS(millions)
6,2011,A,"Agriculture, Forestry and Fishing",a_0,Operating profit before tax,770,DOLLARS(millions)
7,2011,A,"Agriculture, Forestry and Fishing",a_0,Total assets,55700,DOLLARS(millions)
8,2011,A,"Agriculture, Forestry and Fishing",a_0,Fixed tangible assets,32155,DOLLARS(millions)
9,2011,A,"Agriculture, Forestry and Fishing",b_1-5,Activity unit,21777,COUNT
10,2011,A,"Agriculture, Forestry and Fishing",b_1-5,Rolling mean employees,38136,COUNT
11,2011,A,"Agriculture, Forestry and Fishing",b_1-5,Salaries and wages paid,1435,DOLLARS(millions)
12,2011,A,"Agriculture, Forestry and Fishing",b_1-5,"Sales, government funding, grants and subsidies",13359,DOLLARS(millions)
13,2011,A,"Agriculture, Forestry and Fishing",b_1-5,Total income,13771,DOLLARS(millions)
14,2011,A,"Agriculture, Forestry and Fishing",b_1-5,Total expenditure,12316,DOLLARS(millions)
15,2011,A,"Agriculture, Forestry and Fishing",b_1-5,Operating profit before tax,1247,DOLLARS(millions)
16,2011,A,"Agriculture, Forestry and Fishing",b_1-5,Total assets,52666,DOLLARS(millions)
17,2011,A,"Agriculture, Forestry and Fishing",b_1-5,Fixed tangible assets,31235,DOLLARS(millions)
18,2011,A,"Agriculture, Forestry and Fishing",c_6-9,Activity unit,1965,COUNT
19,2011,A,"Agriculture, Forestry and Fishing",c_6-9,Rolling mean employees,13848,COUNT

In [8]:
df.head(0)

Empty DataFrame
Columns: [year, industry_code_ANZSIC, industry_name_ANZSIC, rme_size_grp, variable, value, unit]
Index: []

In [9]:
df.tail()

,year,industry_code_ANZSIC,industry_name_ANZSIC,rme_size_grp,variable,value,unit
17023,2021,all,All Industries,j_Grand_Total,Total income,757504,DOLLARS(millions)
17024,2021,all,All Industries,j_Grand_Total,Total expenditure,654404,DOLLARS(millions)
17025,2021,all,All Industries,j_Grand_Total,Operating profit before tax,85116,DOLLARS(millions)
17026,2021,all,All Industries,j_Grand_Total,Total assets,2512677,DOLLARS(millions)
17027,2021,all,All Industries,j_Grand_Total,Fixed tangible assets,591351,DOLLARS(millions)

In [10]:
df.tail(20)

,year,industry_code_ANZSIC,industry_name_ANZSIC,rme_size_grp,variable,value,unit
17008,2021,S,Other Services,h_200+,Total assets,1368,DOLLARS(millions)
17009,2021,S,Other Services,h_200+,Fixed tangible assets,374,DOLLARS(millions)
17010,2021,S,Other Services,i_Industry_Total,Activity unit,23400,COUNT
17011,2021,S,Other Services,i_Industry_Total,Rolling mean employees,67797,COUNT
17012,2021,S,Other Services,i_Industry_Total,Salaries and wages paid,3859,DOLLARS(millions)
17013,2021,S,Other Services,i_Industry_Total,"Sales, government funding, grants and subsidies",11467,DOLLARS(millions)
17014,2021,S,Other Services,i_Industry_Total,Total income,13687,DOLLARS(millions)
17015,2021,S,Other Services,i_Industry_Total,Total expenditure,11682,DOLLARS(millions)
17016,2021,S,Other Services,i_Industry_Total,Operating profit before tax,1336,DOLLARS(millions)
17017,2021,S,Other Services,i_Industry_Total,Total assets,17874,DOLLARS(millions)
17018,2021,S,Other Services,i_Industry_Total,Fixed tangible assets,4407,DOLLARS(millions)
17019,2021,all,All Industries,j_Grand_Total,Activity unit,500568,COUNT
17020,2021,all,All Industries,j_Grand_Total,Rolling mean employees,1889430,COUNT
17021,2021,all,All Industries,j_Grand_Total,Salaries and wages paid,123620,DOLLARS(millions)
17022,2021,all,All Industries,j_Grand_Total,"Sales, government funding, grants and subsidies",674890,DOLLARS(millions)
17023,2021,all,All Industries,j_Grand_Total,Total income,757504,DOLLARS(millions)
17024,2021,all,All Industries,j_Grand_Total,Total expenditure,654404,DOLLARS(millions)
17025,2021,all,All Industries,j_Grand_Total,Operating profit before tax,85116,DOLLARS(millions)
17026,2021,all,All Industries,j_Grand_Total,Total assets,2512677,DOLLARS(millions)
17027,2021,all,All Industries,j_Grand_Total,Fixed tangible assets,591351,DOLLARS(millions)

In [11]:
type(df)

pandas.core.frame.DataFrame

In [13]:
df.columns

Index(['year', 'industry_code_ANZSIC', 'industry_name_ANZSIC', 'rme_size_grp',
       'variable', 'value', 'unit'],
      dtype='object')

In [14]:
list(df.columns)

['year',
 'industry_code_ANZSIC',
 'industry_name_ANZSIC',
 'rme_size_grp',
 'variable',
 'value',
 'unit']

In [15]:
df['unit']

0                    COUNT
1                    COUNT
2        DOLLARS(millions)
3        DOLLARS(millions)
4        DOLLARS(millions)
               ...
17023    DOLLARS(millions)
17024    DOLLARS(millions)
17025    DOLLARS(millions)
17026    DOLLARS(millions)
17027    DOLLARS(millions)
Name: unit, Length: 17028, dtype: object

In [16]:
df['year']

0        2011
1        2011
2        2011
3        2011
4        2011
         ...
17023    2021
17024    2021
17025    2021
17026    2021
17027    2021
Name: year, Length: 17028, dtype: int64

In [18]:
type(df['year']) # []--1- D array ---Series is one dimensional array

pandas.core.series.Series

In [19]:
df['value','variable']

KeyError: ('value', 'variable')

In [20]:
d2=df[['value','variable']] # [[]]----2-D array

In [21]:
d2

         value                                         variable
0        46134                                    Activity unit
1            0                           Rolling mean employees
2          279                          Salaries and wages paid
3         8187  Sales, government funding, grants and subsidies
4         8866                                     Total income
...        ...                                              ...
17023   757504                                     Total income
17024   654404                                Total expenditure
17025    85116                      Operating profit before tax
17026  2512677                                     Total assets
17027   591351                            Fixed tangible assets

[17028 rows x 2 columns]

In [22]:
type(d2)

pandas.core.frame.DataFrame

In [23]:
type(df[['unit']])

pandas.core.frame.DataFrame

In [25]:
list(df['unit'])

['COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 'COUNT',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'DOLLARS(millions)',
 'COUNT',
 ...]

In [26]:
df['unit']

0                    COUNT
1                    COUNT
2        DOLLARS(millions)
3        DOLLARS(millions)
4        DOLLARS(millions)
               ...
17023    DOLLARS(millions)
17024    DOLLARS(millions)
17025    DOLLARS(millions)
17026    DOLLARS(millions)
17027    DOLLARS(millions)
Name: unit, Length: 17028, dtype: object

In [27]:
type(df)

pandas.core.frame.DataFrame

In [29]:
df.dtypes
#object = string

year                     int64
industry_code_ANZSIC    object
industry_name_ANZSIC    object
rme_size_grp            object
variable                object
value                   object
unit                    object
dtype: object

In [30]:
df[['year','value','variable','rme_size_grp']]

,year,value,variable,rme_size_grp
0,2011,46134,Activity unit,a_0
1,2011,0,Rolling mean employees,a_0
2,2011,279,Salaries and wages paid,a_0
3,2011,8187,"Sales, government funding, grants and subsidies",a_0
4,2011,8866,Total income,a_0
...,...,...,...,...
17023,2021,757504,Total income,j_Grand_Total
17024,2021,654404,Total expenditure,j_Grand_Total
17025,2021,85116,Operating profit before tax,j_Grand_Total
17026,2021,2512677,Total assets,j_Grand_Total
17027,2021,591351,Fixed tangible assets,j_Grand_Total

## Reading a Excel file

In [ ]:
df1 = pd.read_excel('Jan_data.xlsx')

### All other operations are same

In [ ]:
df2 = pd.read_csv("https://media.githubusercontent.com/media/datablist/sample-csv-files/main/files/organizations/organizations-100.csv")

## reading html data

In [37]:
import pandas as pd
import requests

url = "https://en.wikipedia.org/wiki/Economy_of_the_United_States"

headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 "
                  "(KHTML, like Gecko) Chrome/110.0.0.0 Safari/537.36"
}

response = requests.get(url, headers=headers)
response.raise_for_status()   # ensures request was successful

df3 = pd.read_html(response.text)
df3

[                                                    0  \
 0   New York City, the world's principal fintech a...
 1                                            Currency
 2                                         Fiscal year
 3                                 Trade organizations
 4                                       Country group
 5                                          Statistics
 6                                          Population
 7                                                 GDP
 8                                            GDP rank
 9                                          GDP growth
 10                                     GDP per capita
 11                                GDP per capita rank
 12                                      GDP by sector
 13                                   GDP by component
 14                                    Inflation (CPI)
 15                      Population below poverty line
 16                                   Gini coefficient
 17                            Human Development Index
 18                       Corruption Perceptions Index
 19                                        Labor force
 20                          Labor force by occupation
 21                                       Unemployment
 22                               Average gross salary
 23                                 Average net salary
 24                      Final consumption expenditure
 25                            Gross capital formation
 26                                        Yield curve
 27                         Purchasing Managers' Index
 28                                    Main industries
 29                                           External
 30                                            Exports
 31                                       Export goods
 32                               Main export partners
 33                                            Imports
 34                                       Import goods
 35                               Main import partners
 36                                          FDI stock
 37                                    Current account
 38                                Gross external debt
 39                                    Public finances
 40                                    Government debt
 41                                   Foreign reserves
 42                                     Budget balance
 43                                           Revenues
 44                                           Expenses
 45                                       EconomicÂ aid
 46                                      Credit rating
 47  All values, unless otherwise stated, are in US...

                                                     1
 0   New York City, the world's principal fintech a...
 1   United States dollar (Sign: $; Code: USD) US D...
 2                            October 1 â€“ September 30
 3         WTO, G-20, G7, OECD, USMCA, APEC and others
 4   .mw-parser-output .plainlist ol,.mw-parser-out...
 5                                          Statistics
 6                   342,754,338 (November 1, 2025)[7]
 7   $30.616 trillion (nominal; 2025)[8]  $30.616 t...
 8                 1st (nominal; 2025) 2nd (PPP; 2025)
 9      2.8%Â (2024)[8] 2.0%Â (2025f)[8] 2.1%Â (2026f)[8]
 10  $89,599 (nominal; 2025)[8]  $89,599 (PPP; 2025...
 11               8th (nominal; 2025) 11th (PPP; 2025)
 12  Agriculture: 0.9% Industry: 18.9% Services: 80...
 13  Household consumption: 67.9% Government consum...
 14                               2.7% (June 2025)[11]
 15          10.6% (2024)[12]  35.9 million (2024)[12]
 16  46.5 @media screen{html.skin-theme-clientpref-...
 17  0.938 very high (2023)[16] (17th)  0.832 very ...
 18        65 out of 100 points (2024)[17] (rank 28th)
 19  168,110,083 (2024)[18] 62.6% employment rate (...
 20  Agriculture: 1.0% Industry: 19% Services: 80% ...
 21  4.3% (August 2025)[18]  13.9% youth unemployme...
 22                         $5,886, monthly[20] (2024)
 23                         $4,450, monthly[20] (2024)
 24                            85.2% of GDP (2023)[10]
 25                            17.7% of GDP (2023)[10]
 26                10-year bond 4.28% (April 2025)[21]
 27  52.0 Manufacturing (May 2025)[22]  53.7 Servic...
 28  .mw-parser-output .hlist dl,.mw-parser-output ...
 29                                           External
 30                     $3.232 trillion (2024)[23][24]
 31  Agricultural products 10.7%Fuels and mining pr...
 32  European Union 17.9% Canada 16.9% Mexico 16.2%...
 33                     $4.136 trillion (2024)[23][24]
 34  Agricultural products 10.5%Fuels and mining pr...
 35  European Union 18.5% Mexico 15.5% China 13.4% ...
 36  Inward: $367Â billion (2021)[28]  Outward: $403...
 37  âˆ’$948.64 billion (2024)[29]  âˆ’3.25% of GDP (20...
 38                            $27 trillion (2023)[30]
 39                                    Public finances
 40           $35.294 trillion  121% of GDP (2024)[29]
 41                            $250 billion (2024)[31]
 42                            âˆ’6.3% of GDP (2023)[32]
 43            $8.720 trillion[29] 29.9% of GDP (2024)
 44  $10.945 trillion[29] 37.5% of GDP (2024) Gover...
 45              donor: ODA, $35.26 billion (2017)[33]
 46  Standard & Poor's:[34] AA+ (Domestic) AA+ (For...
 47  All values, unless otherwise stated, are in US...  ,
                                                    0
 0            This article is part of a series on the
 1                       Economy of the United States
 2  History Agricultural Banking Dollar Lumber Pet...
 3  Sectors Primary sector Agriculture Energy Petr...
 4  Economy by state California Texas New York Flo...
 5  Economy by city or county Allentown Atlanta Bu...
 6  Labor force Labor Law Child labor Labor unions...
 7               Economy portal  United States portal
 8  .mw-parser-output .navbar{display:inline;font-...,
     0                                                  1
 0 NaN  This section needs to be updated. Please help ...,
     Year  GDP (in bn. US$PPP)  GDP per capita (in US$ PPP)  \
 0   1980               2857.3                      12552.9
 1   1981               3207.0                      13948.7
 2   1982               3343.8                      14405.0
 3   1983               3634.0                      15513.7
 4   1984               4037.7                      17086.4
 5   1985               4339.0                      18199.3
 6   1986               4579.6                      19034.8
 7   1987               4855.3                      20001.0
 8   1988               5236.4                      21376.0
 9   1989               5641.6                      22814.1
 10  1990               5963.1                      23848.0
 11  1991               6158.1                      24302.8
 12  1992               6520.3                      25392.9
 13  1993               6858.6                      26364.2
 14  1994               7287.3                      27674.0
 15  1995               7639.8                      28671.5
 16  1996               8073.1                      29947.0
 17  1997               8577.6                      31440.1
 18  1998               9062.8                      32833.7
 19  1999               9631.2                      34496.2
 20  2000              10251.0                      36312.8
 21  2001              10581.9                      37101.5
 22  2002              10929.1                      37945.8
 23  2003              11456.5                      39405.4
 24  2004              12217.2                      41641.6
 25  2005              13039.2                      44034.3
 26  2006              13815.6                      46216.9
 27  2007              14474.3                      47943.4
 28  2008              14769.9                      48470.6
 29  2009              14478.1                      47102.4
 30  2010              15049.0                      48586.3
 31  2011              15599.7                      50008.1
 32  2012              16254.0                      51736.7
 33  2013              16880.6                      53363.9
 34  2014              17608.1                      55263.8
 35  2015              18295.0                      57006.9
 36  2016              18804.9                      58179.6
 37  2017              19612.1                      60292.9
 38  2018              20656.5                      63165.2
 39  2019              21539.9                      65561.3
 40  2020              21375.2                      64518.0
 41  2021              23725.6                      71365.3
 42  2022              26054.6                      77944.1
 43  2023              27811.5                      82523.2
 44  2024              29298.0                      86144.8
 45  2025              30615.7                      89598.8
 46  2026              31821.2                      92883.4
 47  2027              33019.9                      95960.7
 48  2028              34258.4                      99125.6
 49  2029              35513.8                     102275.8

     GDP (in bn. US$nominal)  GDP per capita (in US$ nominal)  \
 0                    2857.3                          12552.9
 1                    3207.0                          13948.7
 2                    3343.8                          14405.0
 3                    3634.0                          15513.7
 4                    4037.7                          17086.4
 5                    4339.0                          18199.3
 6                    4579.6                          19034.8
 7                    4855.3                          20001.0
 8                    5236.4                          21376.0
 9                    5641.6                          22814.1
 10                   5963.1                          23848.0
 11                   6158.1                          24302.8
 12                   6520.3                          25392.9
 13                   6858.6                          26364.2
 14                   7287.3                          27674.0
 15                   7639.8                          28671.5
 16                   8073.1                          29947.0
 17                   8577.6                          31440.1
 18                   9062.8                          32833.7
 19                   9631.2                          34496.2
 20                  10251.0                          36312.8
 21                  10581.9                          37101.5
 22                  10929.1                          37945.8
 23                  11456.5                          39405.4
 24                  12217.2                          41641.6
 25                  13039.2                          44034.3
 26                  13815.6                          46216.9
 27                  14474.3                          47943.4
 28                  14769.9                          48470.6
 29                  14478.1                          47102.4
 30                  15049.0                          48586.3
 31                  15599.7                          50008.1
 32                  16254.0                          51736.7
 33                  16880.6                          53363.9
 34                  17608.1                          55263.8
 35                  18295.0                          57006.9
 36                  18804.9                          58179.6
 37                  19612.1                          60292.9
 38                  20656.5                          63165.2
 39                  21539.9                          65561.3
 40                  21375.2                          64518.0
 41                  23725.6                          71365.3
 42                  26054.6                          77944.1
 43                  27811.5                          82523.2
 44                  29298.0                          86144.8
 45                  30615.7                          89598.8
 46                  31821.2                          92883.4
 47                  33019.9                          95960.7
 48                  34258.4                          99125.6
 49                  35513.8                         102275.8

    GDP growth (real) Inflation rate (in Percent) Unemployment (in Percent)  \
 0              âˆ’0.3%                       13.5%                      7.2%
 1               2.5%                       10.4%                      7.6%
 2              âˆ’1.8%                        6.2%                      9.7%
 3               4.6%                        3.2%                      9.6%
 4               7.2%                        4.4%                      7.5%
 5               4.2%                        3.5%                      7.2%
 6               3.5%                        1.9%                      7.0%
 7               3.5%                        3.6%                      6.2%
 8               4.2%                        4.1%                      5.5%
 9               3.7%                        4.8%                      5.3%
 10              1.9%                        5.4%                      5.6%
 11             âˆ’0.1%                        4.2%                      6.9%
 12              3.5%                        3.0%                      7.5%
 13              2.8%                        3.0%                      6.9%
 14              4.0%                        2.6%                      6.1%
 15              2.7%                        2.8%                      5.6%
 16              3.8%                        2.9%                      5.4%
 17              4.4%                        2.3%                      4.9%
 18              4.5%                        1.5%                      4.5%
 19              4.8%                        2.2%                      4.2%
 20              4.1%                        3.4%                      4.0%
 21              1.0%                        2.8%                      4.7%
 22              1.7%                        1.6%                      5.8%
 23              2.8%                        2.3%                      6.0%
 24              3.9%                        2.7%                      5.5%
 25              3.5%                        3.4%                      5.1%
 26              2.8%                        3.2%                      4.6%
 27              2.0%                        2.9%                      4.6%
 28              0.1%                        3.8%                      5.8%
 29             âˆ’2.6%                       âˆ’0.3%                      9.3%
 30              2.7%                        1.6%                      9.6%
 31              1.6%                        3.1%                      8.9%
 32              2.3%                        2.1%                      8.1%
 33              2.1%                        1.5%                      7.4%
 34              2.5%                        1.6%                      6.1%
 35              2.9%                        0.1%                      5.2%
 36              1.8%                        1.3%                      4.9%
 37              2.5%                        2.1%                      4.4%
 38              3.0%                        2.4%                      3.9%
 39              2.6%                        1.8%                      3.7%
 40             âˆ’2.1%                        1.2%                      8.1%
 41              6.2%                        4.6%                      5.3%
 42              2.5%                        7.9%                      3.6%
 43              2.9%                        4.1%                      3.6%
 44              2.8%                        2.9%                        4%
 45              2.0%                        2.7%                      4.2%
 46              2.1%                        2.4%                      4.1%
 47              2.1%                        2.2%                        4%
 48              2.1%                        2.2%                      3.9%
 49              1.9%                        2.2%                      3.8%

    Government debt (inÂ % of GDP)
 0                            NaN
 1                            NaN
 2                            NaN
 3                            NaN
 4                            NaN
 5                            NaN
 6                            NaN
 7                            NaN
 8                            NaN
 9                            NaN
 10                           NaN
 11                           NaN
 12                           NaN
 13                           NaN
 14                           NaN
 15                           NaN
 16                           NaN
 17                           NaN
 18                           NaN
 19                           NaN
 20                           NaN
 21                         53.1%
 22                         55.5%
 23                         58.6%
 24                         66.2%
 25                         65.5%
 26                         64.2%
 27                         64.6%
 28                         73.5%
 29                         86.7%
 30                         95.2%
 31                         99.5%
 32                        103.1%
 33                        104.3%
 34                        104.2%
 35                        104.6%
 36                        106.5%
 37                        105.5%
 38                        106.8%
 39                          108%
 40                          132%
 41                        124.5%
 42                        118.8%
 43                        118.9%
 44                        120.7%
 45                        122.4%
 46                        123.6%
 47                        124.9%
 48                        125.9%
 49                        131.7%  ,
   Country/Economy  Real GDP    Agri.    Indus.     Serv.
 0           World  60093221  1968215  16453140  38396695
 1   United States  15160104   149023   3042332  11518980,
                              Country/Economy  \
 0                              United States
 1  *Percentages from CIA World Factbook[146]

                                  Nominal GDP  \
 0                                   18624450
 1  *Percentages from CIA World Factbook[146]

                                        Agri.  \
 0                                  204868.95
 1  *Percentages from CIA World Factbook[146]

                                       Indus.  \
 0                                  3613143.3
 1  *Percentages from CIA World Factbook[146]

                                        Serv.  \
 0                                14806437.75
 1  *Percentages from CIA World Factbook[146]

                                   Unnamed: 5
 0                                        NaN
 1  *Percentages from CIA World Factbook[146]  ,
                                                    0
 0                This article is part of a series on
 1                        Income in the United States
 2  Topics Household Personal Affluence Social cla...
 3  Lists by income States (by inequality) Countie...
 4                               United States portal
 5                                                vte,
     0                                                  1
 0 NaN  Parts of this article (those related to uninsu...,
    Balance of trade 2014 (goods only)[372]                                  \
                         Unnamed: 0_level_1   China Euro area  Japan Mexico
 0                                 Computer  âˆ’151.9       3.4   âˆ’8.0  âˆ’11.0
 1                       Oil, gas, minerals     1.9       6.4    2.4  âˆ’20.8
 2                           Transportation    10.9     âˆ’30.9  âˆ’46.2  âˆ’59.5
 3                                  Apparel   âˆ’56.3      âˆ’4.9    0.6   âˆ’4.2

In [38]:
len(df3)

13

In [39]:
html_data = df3[3]

In [40]:
html_data

,Year,GDP (in bn. US$PPP),GDP per capita (in US$ PPP),GDP (in bn. US$nominal),GDP per capita (in US$ nominal),GDP growth (real),Inflation rate (in Percent),Unemployment (in Percent),Government debt (inÂ % of GDP)
0,1980,2857.3,12552.9,2857.3,12552.9,âˆ’0.3%,13.5%,7.2%,NaN
1,1981,3207.0,13948.7,3207.0,13948.7,2.5%,10.4%,7.6%,NaN
2,1982,3343.8,14405.0,3343.8,14405.0,âˆ’1.8%,6.2%,9.7%,NaN
3,1983,3634.0,15513.7,3634.0,15513.7,4.6%,3.2%,9.6%,NaN
4,1984,4037.7,17086.4,4037.7,17086.4,7.2%,4.4%,7.5%,NaN
5,1985,4339.0,18199.3,4339.0,18199.3,4.2%,3.5%,7.2%,NaN
6,1986,4579.6,19034.8,4579.6,19034.8,3.5%,1.9%,7.0%,NaN
7,1987,4855.3,20001.0,4855.3,20001.0,3.5%,3.6%,6.2%,NaN
8,1988,5236.4,21376.0,5236.4,21376.0,4.2%,4.1%,5.5%,NaN
9,1989,5641.6,22814.1,5641.6,22814.1,3.7%,4.8%,5.3%,NaN
10,1990,5963.1,23848.0,5963.1,23848.0,1.9%,5.4%,5.6%,NaN
11,1991,6158.1,24302.8,6158.1,24302.8,âˆ’0.1%,4.2%,6.9%,NaN
12,1992,6520.3,25392.9,6520.3,25392.9,3.5%,3.0%,7.5%,NaN
13,1993,6858.6,26364.2,6858.6,26364.2,2.8%,3.0%,6.9%,NaN
14,1994,7287.3,27674.0,7287.3,27674.0,4.0%,2.6%,6.1%,NaN
15,1995,7639.8,28671.5,7639.8,28671.5,2.7%,2.8%,5.6%,NaN
16,1996,8073.1,29947.0,8073.1,29947.0,3.8%,2.9%,5.4%,NaN
17,1997,8577.6,31440.1,8577.6,31440.1,4.4%,2.3%,4.9%,NaN
18,1998,9062.8,32833.7,9062.8,32833.7,4.5%,1.5%,4.5%,NaN
19,1999,9631.2,34496.2,9631.2,34496.2,4.8%,2.2%,4.2%,NaN
20,2000,10251.0,36312.8,10251.0,36312.8,4.1%,3.4%,4.0%,NaN
21,2001,10581.9,37101.5,10581.9,37101.5,1.0%,2.8%,4.7%,53.1%
22,2002,10929.1,37945.8,10929.1,37945.8,1.7%,1.6%,5.8%,55.5%
23,2003,11456.5,39405.4,11456.5,39405.4,2.8%,2.3%,6.0%,58.6%
24,2004,12217.2,41641.6,12217.2,41641.6,3.9%,2.7%,5.5%,66.2%
25,2005,13039.2,44034.3,13039.2,44034.3,3.5%,3.4%,5.1%,65.5%
26,2006,13815.6,46216.9,13815.6,46216.9,2.8%,3.2%,4.6%,64.2%
27,2007,14474.3,47943.4,14474.3,47943.4,2.0%,2.9%,4.6%,64.6%
28,2008,14769.9,48470.6,14769.9,48470.6,0.1%,3.8%,5.8%,73.5%
29,2009,14478.1,47102.4,14478.1,47102.4,âˆ’2.6%,âˆ’0.3%,9.3%,86.7%
30,2010,15049.0,48586.3,15049.0,48586.3,2.7%,1.6%,9.6%,95.2%
31,2011,15599.7,50008.1,15599.7,50008.1,1.6%,3.1%,8.9%,99.5%
32,2012,16254.0,51736.7,16254.0,51736.7,2.3%,2.1%,8.1%,103.1%
33,2013,16880.6,53363.9,16880.6,53363.9,2.1%,1.5%,7.4%,104.3%
34,2014,17608.1,55263.8,17608.1,55263.8,2.5%,1.6%,6.1%,104.2%
35,2015,18295.0,57006.9,18295.0,57006.9,2.9%,0.1%,5.2%,104.6%
36,2016,18804.9,58179.6,18804.9,58179.6,1.8%,1.3%,4.9%,106.5%
37,2017,19612.1,60292.9,19612.1,60292.9,2.5%,2.1%,4.4%,105.5%
38,2018,20656.5,63165.2,20656.5,63165.2,3.0%,2.4%,3.9%,106.8%
39,2019,21539.9,65561.3,21539.9,65561.3,2.6%,1.8%,3.7%,108%
40,2020,21375.2,64518.0,21375.2,64518.0,âˆ’2.1%,1.2%,8.1%,132%
41,2021,23725.6,71365.3,23725.6,71365.3,6.2%,4.6%,5.3%,124.5%
42,2022,26054.6,77944.1,26054.6,77944.1,2.5%,7.9%,3.6%,118.8%
43,2023,27811.5,82523.2,27811.5,82523.2,2.9%,4.1%,3.6%,118.9%
44,2024,29298.0,86144.8,29298.0,86144.8,2.8%,2.9%,4%,120.7%
45,2025,30615.7,89598.8,30615.7,89598.8,2.0%,2.7%,4.2%,122.4%
46,2026,31821.2,92883.4,31821.2,92883.4,2.1%,2.4%,4.1%,123.6%
47,2027,33019.9,95960.7,33019.9,95960.7,2.1%,2.2%,4%,124.9%
48,2028,34258.4,99125.6,34258.4,99125.6,2.1%,2.2%,3.9%,125.9%
49,2029,35513.8,102275.8,35513.8,102275.8,1.9%,2.2%,3.8%,131.7%

In [41]:
type(html_data)

pandas.core.frame.DataFrame

In [42]:
html_data.to_csv("US_GDP1.csv",index=False)

In [43]:
html_data = df3[5]

In [44]:
html_data

,Country/Economy,Nominal GDP,Agri.,Indus.,Serv.,Unnamed: 5
0,United States,18624450,204868.95,3613143.3,14806437.75,NaN
1,*Percentages from CIA World Factbook[146],*Percentages from CIA World Factbook[146],*Percentages from CIA World Factbook[146],*Percentages from CIA World Factbook[146],*Percentages from CIA World Factbook[146],*Percentages from CIA World Factbook[146]